<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ request.user.username }}</title>
    <link rel="stylesheet" href="styles.css">
    <link href="scripts.js">
</head>
<body>
    <a href="{% url 'changepassword' %}">Change Password</a>
    {{request.user.username}}
    <form method="POST">
        {{ passwordChange.as_p }}
    <button type="submit">Change password</button>
    </form>
    <ul>
        {% for post in posts %}
        <li>
            {{post.title}}
        </li>
        {% endfor %}
    </ul>
</body>
</html>