<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ request.user.username }}'profile</title>
</head>
<body>
    <a href="{% url 'changepassword' %}">Change Password</a>
    your posts
    </form>
    <ul>
        {% for post in posts %}
        <li>
            {{post.title}} <a href="{% url 'post_edit' slug=post.slug %}">edit post</a>
        </li>
        {% endfor %}
    </ul>
</body>
</html>